<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>927狼人杀专用工具</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0 user-scalable=no">
    <!-- 导入样式 -->
    <link href="mobile.css" rel="stylesheet">
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="//unpkg.com/vant@3/lib/index.css"/>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="//unpkg.com/vue@3"></script>

    <script src="//unpkg.com/vant@3/lib/vant.min.js"></script>
</head>
<body>
<div id="app">
    <div v-if="tab =='home'">
        <h1>🍖加入对局</h1>
        <van-cell-group inset>
            <van-field v-model="room" label="房间号" placeholder="请输入房间号" required></van-field>
            <div style="height: 1rem"></div>

            <van-button v-if="!joined" type="primary" round block plain icon="aim" @click="loadRooms()">快速选房
            </van-button>
            <div style="height: 1rem"></div>

            <van-field v-model="user" label="名字" placeholder="(选填)请输入你的名字"></van-field>
        </van-cell-group>
        <div style="height: 1rem"></div>
        <van-button v-if="!joined" type="primary" block round icon="smile-comment-o" @click="joinGame">抽取角色卡
        </van-button>
        <van-button v-if="joined" type="success" block round icon="smile-comment-o" @click="joined=false;room=''">重置页面
        </van-button>
        <div v-if="joined">
            <div style="height: 1rem"></div>
            <p>房间已加入 {{ nowJoinCount }} 玩家</p>
        </div>
        <div style="height: 1rem"></div>
        <van-button type="warning" block round icon="vip-card-o" @click="god">上帝模式</van-button>
        <div style="height: 1rem"></div>
        <van-button type="danger" block round icon="delete-o" @click="deleteRoom" v-if="(room&&room!=='')">删除房间
        </van-button>
    </div>

    <div v-if="tab =='me'">
        <h1>🥂我的信息</h1>

        <van-cell-group inset>
            <van-cell title="唯一UID" :value="getLocalUid()"/>

        </van-cell-group>
    </div>

    <van-tabbar v-model="tab" fixed="true" @change="onTabChange">
        <van-tabbar-item icon="fire-o" name="home">主页</van-tabbar-item>
        <!--        <van-tabbar-item icon="search">历史</van-tabbar-item>-->
        <van-tabbar-item icon="smile-o" name="me">我</van-tabbar-item>
    </van-tabbar>

    <van-popup v-model:show="showPicker" round position="bottom">
        <van-picker
                title="快速房间"
                :columns="rooms"
                @cancel="showPicker=false"
                @confirm="onRoomSelected"
        ></van-picker>
    </van-popup>

    <van-dialog v-model:show="godShow" title="上帝视角" show-cancel-button>

    </van-dialog>


</div>
<script>

    const {createApp} = Vue
    const {Dialog, Toast} = vant;

    const getRoleEmoji = (role) => {
        switch (role) {
            case '狼人':
                return '🐺'
            case '平民':
                return '😅'
            case '预言家':
                return '🕵️‍♂️'
            case '女巫':
                return '👩‍🔬'
        }
    }

    const nanoid = (t = 21) => crypto.getRandomValues(new Uint8Array(t)).reduce(((t, e) => t += (e &= 63) < 36 ? e.toString(36) : e < 62 ? (e - 26).toString(36).toUpperCase() : e < 63 ? "_" : "-"), "");

    const api = {
        async getRooms() {
            return (await (await fetch("/wolf")).json()).rooms;
        },
        async getRoom(room) {
            return (await (await fetch("/wolf/" + room, {method: 'get'})).json()).room;
        },
        async delRoom(room) {
            return await fetch("/wolf/" + room, {method: 'delete'});
        },
        async joinRoom(room, user, uid) {
            return (await (await fetch("/wolf/" + room, {
                method: 'post',
                body: JSON.stringify({user, uid})
            })).json()).role
        }
    }
    const getLocalUid = () => {
        if (!localStorage.getItem('uid')) {
            localStorage.setItem('uid', nanoid())
        }
        return localStorage.getItem('uid')
    }
    let app = createApp({
        data() {
            return {
                message: 'Hello Vue!',
                room: '',
                user: '',
                showPicker: false,
                rooms: [],
                godShow: false,
                nowJoinCount: 0,
                joined: false,
                tab: 'home'
            }
        },
        mounted() {
            setInterval(async () => {
                if (this.$data.joined) {
                    let room = this.$data.room
                    if (room && room !== '') {
                        let data = await api.getRoom(room)
                        this.$data.nowJoinCount = data.players.length
                    }
                }
            }, 1000)
        },
        methods: {
            onTabChange(active) {
                this.$data.tab = active
            },
            getLocalUid() {
                return getLocalUid();
            },
            onRoomSelected: function (value, index) {
                this.$data.room = value
                this.$data.showPicker = false;
            },
            async loadRooms() {
                this.$data.rooms = Object.keys(await api.getRooms())
                this.$data.showPicker = true;
            },
            //加入游戏方法
            async joinGame() {
                //检查room填了没
                let room = this.$data.room
                let user = this.$data.user
                let uid = getLocalUid();
                if (!room || room === '') {
                    Dialog.alert({
                        title: '加入失败',
                        message: '请填写房间，或者快速选房。',
                    })
                    return;
                }

                let room_data = await api.getRoom(room);
                if (room_data.players.findIndex(x => x.uid === uid) >= 0) {
                    let role = room_data.players.find(x => x.uid === uid).role
                    Dialog.alert({
                        title: '重复加入',
                        message: '你刚刚已经加入过了!\n你的职业是「' + getRoleEmoji(role) + role + '」',
                    })
                    this.$data.joined = true;
                    return;
                }

                //用fetch发起请求
                let role = await api.joinRoom(room, user, uid);

                //提示成功
                Dialog.alert({
                    title: '加入成功',
                    message: '你是「' + getRoleEmoji(role) + role + '」',
                })
                this.$data.joined = true
            },
            async god() {
                //检查room
                let room = this.$data.room
                if (!room || room === '') {
                    Dialog.alert({
                        title: '上帝失败',
                        message: '请填写房间，或者快速选房。',
                    })
                }
                let room_data = await api.getRoom(room);

                let msg = [`房间号${room}`, '👼以下是人员信息:']

                room_data.players.forEach(x => {
                    msg.push(`${x.user} 是 ${getRoleEmoji(x.role)}  ${x.role}`)
                })

                Dialog.alert({
                    title: '查看信息',
                    message: msg.join('\n'),
                })


                //this.$data.godShow = true
            },
            async deleteRoom() {
                let room = this.$data.room
                Dialog.confirm({
                    title: '确认删除?',
                    message: `你将会删除房间号为${room}的房间...\n😅😅😅真的要删吗...`
                }).then(() => {
                    api.delRoom(room)
                    Toast('删除操作完成');
                    this.$data.joined = false
                }).catch(() => {
                })
            }

        }
    });

    app.use(vant).mount('#app')
    app.use(vant.Button);
    app.use(vant.Field);
    app.use(vant.CellGroup);
    app.use(vant.Picker);
    app.use(vant.Tabbar, vant.TabbarItem);
    app.use(vant.Toast);
    app.use(Dialog);
</script>
</body>
</html>